*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}

body {
	font-family: 'Violet Sans';
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

<<<<<<< HEAD
button {
	font-family: inherit;
=======
h2,h3,h4,h5,h6 {
  font-weight: normal;
>>>>>>> 195b96ab96aaf27ad813c15a8931711a2bd618fd
}