*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}

body {
	font-family: 'Violet Sans';
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}
