@use '../utilities/colors' as *;
.section {
	&__title {
		font-size: 1em;
	}
	&__text {
		font-size: 0.6em;
		&--big {
			font-size: 0.8em;
		}
	}
}

.hidden {
	display: none !important;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section__padding {
	padding: 4rem 2rem;
}
.section__heading {
	display: flex;
	flex-direction: column;
	text-align: center;
	isolation: isolate;
	h2 {
		display: flex;
		flex-direction: column;
	}
	.section__text {
		margin: 0 auto;
		position: relative;
		font-size: 1.3rem;
		color: #ababab;
		padding: 0 1rem;
		width: max-content;
		z-index: 1000;
	}
	.section__text::before,
	.section__text::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 2.5rem;
		height: 2px;
		background-color: #ababab;
		z-index: 100;
	}
	.section__text::after {
		left: -2.5rem;
	}
	.section__text::before {
		right: -2.5rem;
	}
	.section__title {
		color: white;
		font-size: 3.3rem;
	}
}

.section-line {
	position: absolute;
	display: none;
	.line {
		height: 2px;
		width: 100%;
		background-color: #fff;
		position: relative;
		.text {
			position: absolute;
			padding: 0 1.5rem;
			transform: translate(-50%, -50%);
			background: $fourth-section-gradient;
			color: gray;
			font-size: 2rem;
		}
	}
}
.line-top {
	top: 3rem;
	.line {
		.text {
			left: 80%;
			top: 50%;
		}
	}
}
.line-bottom {
	bottom: 3rem;
	.line {
		.text {
			left: 20%;
			top: 50%;
		}
	}
}

