$main-green: #10866d;
$light-green: #13a888;
$lighter-green: #12d684;
$dark-gray: #444444;
$main-gray: #ababab;
$light-gray: #a3a3a3;
$main-red: #d6370f;
$green-light-background: #c0e4dc;
$red-light-background: #e7c8c0;

$header-section-gradient: linear-gradient(#ffffff, #e4e4e4);
$first-section-gradient: linear-gradient(#201e1e, #211c24);
$second-section-gradient: linear-gradient(#201c24, #1c1a1f);
$third-section-gradient: linear-gradient(#1c1a1e, #161418);
$fourth-section-gradient: linear-gradient(#161418, #161418);
$fifth-section-gradient: linear-gradient(#161418, #131115);
$sixth-section-gradient: linear-gradient(#131115, #100e12);
$seventh-section-gradient: linear-gradient(#100e12, #0d0b0f);
$eighth-section-gradient: linear-gradient(#0d0b0f, #080608);

// TO KACPRA NIE ZWAZAJCIE NA TO.
$color_1: #fff;
$color_2: #000;
$color_3: #ababab;
$color_4: #ffffff;
$color_5: #f9f9f9;
$color_6: #000000;
$color_7: #1f1f1f;
$background-color_1: #9c9c9c;
$background-color_2: #0a080b;
$background-color_3: #fff;
$background-color_4: #000;
$background-color_5: #eaeaea;
$pricing_background_color: #0e0c10;
