$main-green: #1EDC3D;
$main-gray: #ABABAB;
$light-gray: #A3A3A3;

$header-section-gradient: linear-gradient(#FFFFFF, #E4E4E4);
$first-section-gradient: linear-gradient(#201E1E, #211C24);
$second-section-gradient: linear-gradient(#201C24, #1C1A1F);
$third-section-gradient: linear-gradient(#1C1A1E, #161418);
$fourth-section-gradient: linear-gradient(#161418, #131115);
$fifth-section-gradient: linear-gradient(#131115, #100E12);
$sixth-section-gradient: linear-gradient(#100E12, #0D0B0F);
$seventh-section-gradient: linear-gradient(#0D0B0F, #0A080C);
$eighth-section-gradient: linear-gradient(#0A080B, #09070A);