.button {
  width: max-content;
  padding: 0.75em 1.5em;
  font-size: 0.7em;
  font-family: inherit;
  border-radius: 0;
  cursor: pointer;
  &-primary {
    background-color: black;
    color: white;
    border: 0;
  }
  &-secondary {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}