@use '../utilities/colors' as *;

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-left: 1px solid black;
  &:hover {
    background-color: $lighter-green;
  }
  &:active {
    background-color: $light-green;
  }
}

