@use '../utilities/colors' as *;

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: $seventh-section-gradient;
	padding-top: 0;
  a {
    transition: all 0.2s ease;
    &:hover {
      text-decoration: none;
    }
  }
  button {
    transition: all 0.2s ease;
  }
}

.buttoners {
  &::after {
    content: 'Skontaktuj się z nami'
  }
}

.knownusmore {
	font-size: 1.5rem;
	text-align: center;
	color: $color_5;
	margin-bottom: 3rem;
}

.form-box {
  display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 50%;
	justify-content: center;
	align-items: center;
	background-color: rgba(#000, 0.8);
	transform: translate(-50%);
	z-index: 1000;
  &[aria-hidden="false"]{
    display: flex;
  }
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  min-height: 0;
  right: 2rem;
  top: 10%;
  transition: min-height .3s;
  z-index: 1100;
}

.notification {
  background-color: white;
  padding: 2rem;
  font-size: 1.5rem;
  border: 1px solid black;
  color: black;
  transform: translateX(150%);
  opacity: 0;
  transition: transform .5s, opacity .5s;
  &[data-success="true"]{
    background-color: $green-light-background;
    outline: 3px solid $lighter-green;
    outline-offset: -6px;
  }
  &[data-success="false"]{
    background-color: $red-light-background;
    outline: 3px solid $main-red;
    outline-offset: -6px;
  }
  .highlight {
    font-weight: bold;
  }
  &.shown {
    transform: translateX(0);
    opacity: 1;
  }
}

.open-form-inner {
	min-width: 280px;
	width: 60%;
	max-width: 750px;
	max-height: 95%;
	background-color: $background-color_3;
	padding: 2rem;
	overflow-y: auto;
	form {
		label {
			font-size: 1.8rem;
			color: $color_7;
			display: block;
			margin-bottom: 0.5rem;
		}
		input {
			font-size: 1.5rem;
			color: $color_2;
			width: 100%;
			display: block;
			padding: 1rem;
			outline: none;
			border: 1px solid #a3a3a3;
			margin-bottom: 2rem;
		}
		textarea {
			font-size: 1.5rem;
      font-family: inherit;
			color: $color_2;
			width: 100%;
			display: block;
			min-height: 100px;
			padding: 1rem;
			outline: none;
			border: 1px solid #a3a3a3;
			resize: none;
			margin-bottom: 4rem;
		}
		.form-controls {
			margin-bottom: 0;
		}
	}
	small {
		min-width: 13px;
		height: 2px;
		background-color: $background-color_4;
		margin-right: 10px;
		color: $color_2;
	}
}
.form-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3rem;
	h3 {
		font-style: normal;
		font-size: 2rem;
		text-align: center;
		color: $color_6;
	}
	span {
		display: block;
    font-size: 3rem;
    padding: .7rem;
    margin-right: -.7rem;
		cursor: pointer;
		img {
			height: 20px;
		}
	}
}

.form-submit-btn {
  width: 100%;
  &::after {
    content: 'WYŚLIJ'
  }
}

.tel-phone-numbers {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
.form-controls {
	max-width: 40px;
	height: 40px;
	margin-right: 10px;
	color: $color_2;
	padding: 0px !important;
	text-align: center;
	&:last-child {
		margin-right: 0;
	}
}
.hidden {
	display: none;
}

@media screen and (max-width: 767px) {
	.open-form-inner {
		form {
			small {
				width: 10px;
				height: 2px;
				background-color: $background-color_4;
				margin-right: 5px;
				color: $color_2;
			}
		}
		.form-controls {
			max-width: 26px;
			height: 26px;
			margin: 0px;
			margin-right: 4px;
			color: $color_2;
			padding: 0px !important;
			text-align: center;
			border: 1px solid #000;
		}
		.form-submit-btn {
			button {
				height: 61px;
			}
		}
	}
}
