@use '../utilities/colors' as *;

button {
	transition: all 0.2s ease;
}
a {
	transition: all 0.2s ease;
	&:hover {
		text-decoration: none;
	}
}
.contact {
	background-color: $background-color_2;
}

.click-form-btn {
	text-align: center;
	button {
		font-size: 40px;
		text-align: center;
		color: $color_6;
		padding: 10px 30px;
		background-color: $background-color_3;
		border: none;
		margin-bottom: 66px;
	}
}

.opern-form-wrapper {
	margin-bottom: 100px;
	display: none;
}

.open-form-inner {
	max-width: 870px;
	margin: auto;
	background-color: $background-color_3;
	padding: 45px 60px 65px 60px;
	form {
		label {
			color: $color_7;
			font-size: 35px;
			font-weight: 400;
			display: block;
			margin-bottom: 20px;
		}
		input {
			font-size: 25px;
			color: $color_2;
			width: 100%;
			display: block;
			padding: 20px 30px;
			outline: none;
			border: 1px solid #a3a3a3;
			margin-bottom: 15px;
		}
		textarea {
			font-size: 25px;
			color: $color_2;
			width: 100%;
			display: block;
			padding: 20px 30px;
			outline: none;
			border: 1px solid #a3a3a3;
			resize: none;
			margin-bottom: 90px;
		}
	}
	small {
		width: 15px;
		height: 3px;
		background-color: $background-color_4;
		margin-right: 10px;
		color: $color_2;
	}
}
.form-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 90px;
	h2 {
		font-size: 45px;
		font-weight: 400;
		text-align: center;
		color: $color_6;
	}
	span {
		cursor: pointer;
	}
}

.form-submit-btn {
	text-align: center;
	button {
		height: 80px;
		background-color: $background-color_4;
		border: none;
		color: $color_1;
		width: 100%;
		font-size: 20px;
		&:hover {
			background-color: $background-color_2;
		}
	}
}
.tel-phone-numbers {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
}
.form-controls {
	max-width: 60px;
	height: 60px;
	margin: 0px;
	margin-right: 10px;
	color: $color_2;
	padding: 0px;
	text-align: center;
}

// .zapoznanie-area {
// 	padding: 20px 0 160px;
// 	.top-title {
// 		small {
// 			margin-bottom: 20px;
// 		}
// 		h2 {
// 			margin-bottom: 90px;
// 		}
// 	}
// }
// .zapoznanie-item-wrapper {
// 	display: grid;
// 	grid-template-columns: repeat(2, 1fr);
// 	gap: 90px 96px;
// 	max-width: 990px;
// 	margin: auto;
// }

// .zapoznanie-item {
// 	text-align: center;
// 	padding: 29px 60px 40px 60px;
// 	background: #1c1c1c;
// }
