.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #000;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  &-text {
    font-weight: bold;
  }
  &-links {
    display: flex;
  }
  &-link {
    display: block;
    line-height: 1em;
    text-align: center;
    margin: 1rem;
  }
}