.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	z-index: 50;
	&__navbar {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid black;
		pointer-events: all;
		&-logo {
			padding: 0.5em;
			z-index: 50;
			&-eclipse {
				width: 200px;
				height: 170px;
				border-radius: 50%;
				border: 1px solid black;
				background-color: rgb(255, 255, 255);
				transform: translate(-50%, -55%);
				z-index: 30;
			}
		}
		$menu-bar-width: 33px;
		$menu-bar-height: 3px;
		&--mobile {
			&-toggler {
				display: flex;
				flex-direction: column;
				gap: Calc($menu-bar-height * 2);
				padding: 0.5em;
				cursor: pointer;
				&-bar {
					width: $menu-bar-width;
					height: $menu-bar-height;
					background-color: black;
					transition: opacity 0.3s;
				}
				&::before,
				&::after {
					content: '';
					display: block;
					width: $menu-bar-width;
					height: $menu-bar-height;
					background-color: black;
					transition: transform 0.3s;
				}
				//zmienic z nadawania atrybutu active na aria tag
				&[data-active='true'] {
					.nav__navbar--mobile-toggler-bar {
						opacity: 0;
					}
					&::before {
						transform: translateY(9px) rotate(-45deg);
					}
					&::after {
						transform: translateY(-9px) rotate(45deg);
					}
				}
			}
		}
		&--desktop {
			border-bottom: 2px solid black;
			&-bg {
				width: 100%;
				height: 100%;
				background-color: white;
				z-index: 40;
			}
			&-links {
				position: relative;
				display: flex;
				align-items: center;
				list-style: none;
				padding-inline: 0.5em;
				z-index: 50;
			}
			&-link {
				a {
					font-size: 0.5em;
					padding: 0.8em 0.7em;
				}
				&:first-child a {
					padding-left: 0;
				}
				&:last-child a {
					padding-right: 0;
				}
			}
			.nav__navbar-logo {
				position: absolute;
				top: 50%;
				left: 50%;
				padding: 0;
				transform: translate(-50%);
			}
		}
	}
	&-mobile {
		&__menu {
			position: relative;
			top: 0;
			width: 100vw;
			pointer-events: none;
			&-content {
				position: relative;
				width: 60%;
				height: 100%;
				padding: 0.5em;
				background-color: white;
				border-right: 1px solid black;
				list-style: none;
				transform: translateX(-100%);
				transition: transform 0.3s;
				z-index: 50;
				overflow-y: scroll;
				&-item {
					display: block;
					padding-block: 0.25em;
					font-size: 0.75em;
					&:first-child {
						padding-top: 0;
					}
					&:last-child {
						padding-bottom: 0;
					}
				}
			}
			&-shadow {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				background-color: rgba(#000, 0.9);
				opacity: 0;
				transition: 0.3s;
				z-index: 30;
			}
			&[data-expanded='true'] {
				pointer-events: all;
				.nav-mobile__menu-shadow {
					opacity: 1;
				}
				.nav-mobile__menu-content {
					transform: translateX(0);
				}
			}
		}
	}
}
