@use '../utilities/colors' as *;

.background-image-box {
	position: absolute;
	background-image: url('../img/pricing-spiral.svg');
	background-size: 35%;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
  opacity: .2;
	animation: spin 50s infinite linear;
}
.pricing {
	position: relative;
	background: $fifth-section-gradient;
	overflow: hidden;
  padding-bottom: 4rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  a {
    transition: all 0.2s ease;
    &:hover {
      text-decoration: none;
    }
  }
  ul li {
    transition: 0.2s;
  }
  img.img-fluid {
    transition: 0.2s;
    z-index: 1;
    position: relative;
  }
  ul li:hover::before {
    transform: scale(1.1);
  }
  .img-fluid:hover {
    transform: scale(0.8);
  }
	.section__heading {
		flex-direction: column;
		strong {
			order: 1;
		}
		small {
			order: 2;
      font-weight: 400;
      font-size: 1.5rem;
      text-align: center;
      color: $color_3;
		}
	}
}
.pricing-img {
	text-align: center;
	img {
		max-height: 300px;
	}
}

.pricing-content {
	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em 1em;
		li {
			font-size: 2rem;
			text-align: center;
			color: $color_4;
		}
	}
}
.section__heading .section__title {
	font-size: 2.5rem;
	margin-top: 10px;
}

.pricing-text-one {
	grid-row: 1/2;
	grid-column: 1/2;
}

.pricing-text-two {
	grid-row: 1/2;
	grid-column: 2/3;
}
.pricing-text-three {
	grid-row: 2/3;
	grid-column: 1/2;
}
.pricing-text-four {
	grid-row: 2/3;
	grid-column: 2/3;
}
.pricing-text-five {
	grid-row: 3/4;
	grid-column: 1/3;
}
@media screen and (max-width: 767px) {
	.pricing-img {
		text-align: center;
		margin-bottom: 38px;
	}
}
@media (min-width: 768px) {
	.pricing-content {
		padding-bottom: 10rem;
		ul {
			display: block;
		}
		.price-text {
			position: absolute;
		}
		.pricing-text-one {
			top: 25%;
			left: 10%;
		}
		.pricing-text-two {
			top: 30%;
			right: 8%;
		}
		.pricing-text-three {
			top: 60%;
			left: 7%;
		}
		.pricing-text-four {
			top: 65%;
			right: 10%;
		}
		.pricing-text-five {
			bottom: 4rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}


@keyframes spin {
	0% {
		transform: translateY(-50%) translateX(-50%) rotate(0deg);
	}
	100% {
		transform: translateY(-50%) translateX(-50%) rotate(360deg);
	}
}

