@use '../utilities/colors' as *;

.whoweare {
	background-image: $eighth-section-gradient;
	padding-top: 0;
}
.whoweare-item-wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 95px 96px;
	max-width: 990px;
	margin: auto;
}
.whoweare-item {
  display: flex;
  flex-direction: column;
	text-align: center;
	background-color: transparent;
	.whoweare-item-name {
		font-style: normal;
		font-weight: 400;
		font-size: 2rem;
		color: $color_4;
		padding: 3rem 0;
		transition: 0.4s;
	}
	p {
    flex-grow: 1;
		font-size: 1.5rem;
		color: $color_3;
		text-align: left;
		padding-bottom: 3rem;
		border-bottom: 2px solid rgb(255, 255, 255);
	}
}
.protfolio-click {
  &::after {
    content: 'Portfolio'
  }
}
.whoweare-img {
	width: 224px;
	height: 224px;
	border-radius: 50%;
	margin: auto;
  overflow: hidden;
}
.whoweare-item--links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 35px;
	ul {
		display: flex;
		align-items: center;
		gap: 1rem;
		li {
			a {
				display: inline-block;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        transition: transform .3s;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.whoweare-item-name:hover {
	text-shadow: 0 0 4px #868664e3;
}
@media screen and (max-width: 768px) {
	.whoweare-item {
		text-align: center;
		background: transparent;
		h2 {
			font-size: 2rem;
			padding: 23px 0 29px 0;
		}
	}
	.whoweare-img {
		width: 160px;
		height: 160px;
	}
}

@media (min-width: 768px) {
  .whoweare-item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    max-width: 900px;
  }
}